<ul class="menu">
	<li><a href="#">GESTIONES</a>
		<ul>
			<li><a href="#">DATOS DE REFERENCIAS </a>
				<ul>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('tablas/controller.analito.php','','content','mostrarTabla()')"> ANALITO </a></li>
				</ul>	
			</li>
			<li><a href="#" onclick=""> LABORATORIOS </a></li>
		</ul>
	</li>
	<li><a href="#">RESULTADOS</a>
		<ul>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('tablas/controller.resultado.php','','content','mostrarTabla()')"> LISTAR </a></li>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/am_resultado.php','','content','mostrarTabla()')"> CARGARR </a></li>
		</ul>
	</li>
	<li><a href="#" class="logo">&nbsp;</a></li>

	<li><a href="#" onclick="rearmarDiv('content')">VOLVER</a></li>
	<li><a class='logout' href="logOut.php">LOG OUT</a></li>
</ul>
