<ul class="menu">
	<li><a href="#">GESTIONES</a>
		<ul>
			<li><a href="#">DATOS DE REFERENCIA </a>
				<ul>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.analito.php','','content','mostrarTabla()')"> ANALITO </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.metodo.php','','content','mostrarTabla()')"> METODO </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.reactivo.php','','content','mostrarTabla()')"> REACTIVO </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.papel_filtro.php','','content','mostrarTabla()')"> PAPEL DE FILTRO </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.valor_corte.php','','content','mostrarTabla()')"> VALOR DE CORTE </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.calibrador.php','','content','mostrarTabla()')"> CALIBRADOR </a></li>		
				</ul>	
			</li>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.laboratorio.php','','content','mostrarTabla()')">  LABORATORIOS </a></li>
			<li><a href="#"</a>ADMINISTRATIVO</a>
				<ul>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('/abm/controller.menu.php','','content','mostrarTabla()')">  MENU </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.rol.php','','content','mostrarTabla()')"> ROL </a></li>	
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.usuario.php','','content','mostrarTabla()')"> USUARIO </a></li>		
				</ul>
			</li>
			<li><a href="#"</a>GEOGRAFICO</a>
				<ul>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.pais.php','','content','mostrarTabla()')">  PAIS </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('abm/controller.ciudad.php','','content','mostrarTabla()')"> CIUDAD </a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><a href="#">RESULTADOS</a>
		<ul>
			<li><a href="#" onclick="">LISTAR</a></li>
		</ul>
	</li>
	<li><a href="#" class="logo">&nbsp;</a></li>

	<li><a href="#" onclick="rearmarDiv('content')">VOLVER</a></li>
	<li><a class='logout' href="logOut.php">LOG OUT</a></li>
</ul>
