<ul class="menu">
	<li><a href="#">GESTIONES</a>
		<ul>
			<li><a href="#">DATOS DE REFERENCIAS </a>
				<ul>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('controller.analito.php','','content','mostrarTabla()')"> ANALITO </a></li>
					<li><a href="#" onclick=""> METODO </a></li>
					<li><a href="#" onclick=""> REACTIVO </a></li>
					<li><a href="#" onclick=""> PAPEL DE FILTRO </a></li>
					<li><a href="#" onclick=""> VALOR DE CORTE </a></li>
					<li><a href="#" onclick="clonarDiv('content');cargarpagina('controller.calibrador.php','','content','mostrarTabla()')"> CALIBRADOR </a></li>		
				</ul>	
			</li>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('controller.laboratorio.php','','content','mostrarTabla()')">  LABORATORIOS </a></li>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('controller.usuario.php','','content','mostrarTabla()')"> USUARIOS </a></li>
		</ul>
	</li>
	<li><a href="#">RESULTADOS</a>
		<ul>
			<li><a href="#" onclick="">LISTAR</a></li>
		</ul>
	</li>
	<li><a href="#" class="logo">&nbsp;</a></li>

	<li><a href="#" onclick="rearmarDiv('content')">VOLVER</a></li>
	<li><a class='logout' href="logOut.php">LOG OUT</a></li>
</ul>
