<ul>
	<li>
		<a href="#slider">INICIO</a>
	</li>
	<li>
		<a href="#servicios">SERVICIOS</a>
	</li>
	<li>
		<a href="#inicio" class="logo">&nbsp;</a>
	</li>
	<li>
		<a href="#trabajo">OBJETIVOS</a>
	</li>
	<li>
		<!-- Login Starts Here -->
            <div id="loginButton">
				<a href="#slider" id="loginButton"><span>LOG IN</span></a>
				<div style="clear:both"></div>
					<div id="loginBox">                
                    <form id="loginForm" method="POST" action="login.php">
                        <fieldset id="body">
                            <fieldset>
                                <label for="user">Usuario</label>
                                <input type="text" name="user" id="user" required/>
                            </fieldset>
                            <fieldset>
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" required/>
                            </fieldset>
                            <input type="submit" id="login" value="Log In" />
                        </fieldset>
                    </form>
                </div> 
            </div>
        <!-- Login Ends Here -->
	</li>
</ul>


