<ul class="menu">
	<li><a href="#">GESTIONES</a>
		<ul>
			<li><a href="#">DATOS DE REFERENCIAS </a>
		
			</li>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('insideabm.php','tabla=laboratorio&template=abm/abm_laboratorio.html','content','mostrarTabla()')"> LABORATORIOS </a></li>
		</ul>
	</li>
	<li><a href="#">RESULTADOS</a>
		<ul>
			<li><a href="#" onclick="clonarDiv('content');cargarpagina('insideabm.php','tabla=resultado&template=abm/abm_resultado.html','content','mostrarTabla()')">LISTAR</a></li>
		</ul>
	</li>
	<li><a href="#" class="logo">&nbsp;</a></li>

	<li><a href="#" onclick="rearmarDiv('content')">VOLVER</a></li>
	<li><a class='logout' href="logOut.php">LOG OUT</a></li>
</ul>
