<ul class="menu">
	<li><a href="#" onclick="clonarDiv('content');cargarpagina('tablas/controller.laboratorio.php','','content','mostrarTabla()')">LABORATORIOS</a></li>
	<li><a href="#">GESTIONES</a>
		<ul>
			<li><a href="#" onclick=""> ENCUESTAS </a></li>
			<li><a href="#" onclick=""> MUESTRAS </a></li>
			<li><a href="#" onclick=""> RESULTADOS </a></li>
		</ul>
	</li>
	<li><a href="#" class="logo">&nbsp;</a></li>

	<li><a href="#" onclick="rearmarDiv('content')">VOLVER</a></li>
	<li><a class='logout' href="logOut.php">LOG OUT</a></li>
</ul>
