{% extends 'base.html' %}

{% block head %}
		<link rel="stylesheet" href="../view/css/menuIndex.css" />
		<link rel="stylesheet" href="../view/css/estilosInicio.css" />
				
		<!--NEW-->
		<script src="../view/js/tabla.js" type="text/javascript"></script>
		<link rel="stylesheet" href="../view/css/tabla.css" />
		
		<script src="../view/js/abm.js" type="text/javascript"></script>
		<!--NEW-->
{% endblock head %}

{% block menu %}
	{% include barnav %}
{% endblock menu %}

{% block cargando %}
	<div id="cargando" name="cargando">
		<img src="../view/img/cargando_6.gif" width="100px"></img></td>
	</div>
{% endblock cargando %}

{% block content %} 	
	{%include 'vacio.html'%}
{% endblock %}

