{% extends 'base.html' %}
{% block head %}

		<link rel="stylesheet" type="text/css" href="../view/css/slider.css">
		<link rel="stylesheet" type="text/css" href="../view/css/tabs.css">
		<link rel="stylesheet" type="text/css" href="../view/css/slideshow.css">
		<link rel="stylesheet" href="../view/css/styleLoginButton.css" />
		<link rel="stylesheet" href="../view/css/menuLogin.css" />
		<script type="text/javascript" src="../view/js/script.js"></script>
		<script src="../view/js/login.js"></script>
		<script type="text/javascript" src="../view/js/slider.js"></script>
		<script type="text/javascript" src="../view/js/tabs.js"></script>


{% endblock head %}

{% block menu %}
	{% include  barnav %}
{% endblock menu %}

{% block content %}
	<div id="loginError" style="display: {{displayerror}}"> {{error}} </div>		<!--VEEEEERRRR-->
	<!--CONTENT-->
	<div id="slider">
		<div id="containerSlider">
			<img src="../view/img/lab1.jpg" alt="slider1" width="850" height="450">
			<img src="../view/img/lab2.jpg" alt="slider2" width="850" height="450">
			<img src="../view/img/lab3.jpg" alt="slider3" width="850" height="450">
		</div><!--containerSlier -->
	</div><!--slider -->

		
	<div id="servicios">
		<h2>Servicios</h2>
		<div class="contenido">
			<p>
				Se han realizado acuerdos con industrias 
              para la verificación del funcionamiento <br>
              y control de calidad de equipamientos nuevos.<br>
              LARESBIC participa en conjunto con el laboratorio 
              de Referencia de la Sociedad Alemana <br>
              de Química Clínica (Medizinische Hochschute, 
              Hanover) en el proyecto internacional <br>
              de Estandarización en la medida de Actividad 
              Enzimática.<br>
              LARESBIC ha sido aceptado como miembro internacional 
              de la Red de Laboratorios<br>
              de Referencia para la medida de Colesterol (CRMLa), 
              coordinada por el Center for Disease Control and Prevention 
              (CDC) de Giorgia Atlanta. 
              
            </p>
			<div id="tabServicios">
				<div id="tabs">
					<a href="#">Servicios</a>
					<a href="#">Acciones</a>
					<a href="#">Funciones</a>
				</div><!---tabs-->
				<div class="tabContent">
					<img src="../view/img/tab1.jpg" alt="tab1">
				</div><!--tabContent-->
				<div class="tabContent">
					<img src="../view/img/tab2.jpg" alt="tab2">
				</div><!--tabContent-->
				<div class="tabContent">
					<img src="../view/img/tab3.jpg" alt="tab3">
				</div><!--tabContent-->
			</div><!--tabServicios-->
		</div><!--contenido-->
	</div><!--servicios -->

	<div id="trabajo">
		<h2>Objetivos</h2>
		<div class="contenido">
			<p><ul>
                    <li class="texto">Crear, dirigir y administrar institutos, 
                      laboratorios, centros de investigación y estudios.</li>
                    <li class="texto">Efectuar publicaciones periódicas, 
                      permanentes y circunstanciales</li>
                    <li class="texto">Suscribir convenios con organismos 
                      gubernamentales del ámbito nacional, provincial <br>
                      y municipal. </li>
                    <li class="texto">Suscribir convenios con Universidades 
                      y Facultades. </li>
                    <li class="texto">Suscribir convenios con entidades 
                      autónomas y autárquicas, nucleamientos 
                      profesionales, mutuales, clínicas, obras sociales. </li>
                    <li class="texto">Suscribir convenios con asociaciones 
                      civiles, fundaciones y personas de existencia visible 
                      o real. </li>
                    <li class="texto">Organizar planes de salud, control 
                      de calidad, cursos, conferencias, exposiciones.</li>
                    <li class="texto">Instituir y otorgar premios, becas, 
                      préstamos de honor, subsidios y contribuciones, <br>
                      a personas de existencia visible o ideal que contribuyan 
                      al cumplimiento <br>
                      de los objetivos de la fundación</li>
                </ul></p>
		</div><!--contenido-->
		<div id="slideShow">
			<img src="../view/img/trabajolab1.jpg" width="200" height="120" title="Trabajo1" alt="slideshow1_thumbail">
			<img src="../view/img/trabajolab2.jpg" width="200" height="120" title="Trabajo2" alt="slideshow2_thumbail">
			<img src="../view/img/trabajolab3.jpg" width="200" height="120" title="Trabajo3" alt="slideshow3_thumbail">
			<img src="../view/img/trabajolab4.jpg" width="200" height="120" title="Trabajo4" alt="slideshow4_thumbail">
			<img src="../view/img/trabajolab5.jpg" width="200" height="120" title="Trabajo5" alt="slideshow5_thumbail">
			<img src="../view/img/trabajolab6.jpg" width="200" height="120" title="Trabajo6" alt="slideshow6_thumbail">
			
		</div><!--slideShow-->
	</div><!--trabajo -->
	
	<!--FIN CONTENT-->


{% endblock content %}

