{% extends 'base.html' %}

{% block head %}
		<link rel="stylesheet" href="../view/css/menuIndex.css" />
		<link rel="stylesheet" href="../view/css/estilosInicio.css" />
		<script src="../view/templates/abm/media/js/funciones.js" type="text/javascript"></script>
		<!--tabla-->	
		<script src="../view/js/abm.js" type="text/javascript"></script>
		<script src="../view/templates/abm/media/js/jquery.js" type="text/javascript"></script>
        <script src="../view/templates/abm/media/js/jquery.dataTables.js" type="text/javascript"></script>
        <style type="text/css">
            @import "../view/templates/abm/media/css/demo_table_jui.css";
            @import "../view/templates/abm/media/themes/smoothness/jquery-ui-1.8.4.custom.css";
        </style>
		<!--FIN tabla-->
		<!--VALIDITY-->

		<!--VALIDITY-->
		
{% endblock head %}

{% block menu %}
	{% include barnav %}
{% endblock menu %}

{% block cargando %}
	<div id="cargando" name="cargando">
		<img src="../view/img/cargando_6.gif" width="100px"></img></td>
	</div>
{% endblock cargando %}

{% block content %} 	
	{%include 'vacio.html'%}
{% endblock %}

