*{
	/*font-family: 'Fauna One', serif;*/
	font-family: 'Fauna One', serif;
	/*font-family: 'Happy Monkey', cursive;
	font-family: 'Autour One', cursive;
	font-family: 'Flavors', cursive;*/
}

body{
	background-image: url(../img/fondoQuimica2.jpg);
	margin: 0;
	padding: 0;
}

#container{
	margin: 105px auto;
	width: 850px;
}

.logo, .logo:hover{
	background: #fff url(../img/logoFBA.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding-left: 71px !important;
	padding-right: 71px !important;
}

.logo2{
	background-repeat: no-repeat;
	background-position: center center;
	padding-left: 71px !important;
	padding-right: 71px !important;
}

.seleccionado1{
	background-color: red;
	color:	#fff !important;
}

.seleccionado2{
	background-color: blue;
	color:	#fff !important;
}

.seleccionado4{
	background-color: green;
	color:	#fff !important;
}

.seleccionado3{
	background-color: orange;
	color:	#fff !important;
}

.header1{
	color: #620000;
}

.header2{
	color: #000062;
}

.header3{
	color: #006200;
}

.header4{
	color: yellow;
}

#slider{
	margin-top: 10px;
	height: 450px;
	width: 100%;
	overflow: hidden;

	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

h2{
	font-family: 'Londrina Shadow', cursive;
	color: #222	;
	font-size: 34px;
	margin-bottom: 50px;
	margin-top: 50px;
	
	-webkit-text-shadow: 0px 2px 3px #555;
	-moz-text-shadow: 0px 2px 3px #555;
	-o-text-shadow: 0px 2px 3px #555;
	text-shadow: 0px 2px 3px #555;
/*
	-webkit-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
	-moz-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
	-o-text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 7px rgba(0,0,0,0.5);
*/
}

.contenido{
	background-color: #fff;

	-webkit-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	-o-box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.contenido h1{
	margin-top: -2em;
	margin-left: 1em;
	text-align: center;
	font-size: 28px;
}

.contenido p{
	font-size: 14px;
	padding: 40px;
}

.contenido p::first-letter{
	font-size: 24px;
	
	
}

#trabajo{
	margin-top: 80px;
}

#trabajo ul{
	margin-top: -3em;
}

#formulario{
	background-color: #d2d2d2;
	margin-top: -20px;
	padding: 40px;

	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	-o-box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.5);
}

#formulario form{
	font-size: 14px;
	margin: 0 auto;
	width: 400px;
}

textarea{
	width: 400px;
	height: 100px;
}

.campo, textarea{
	background: #eee;
	border: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 400px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.campo:focus, textarea:focus{
	background: #fff;
	outline: none;

	-webkit-box-shadow: 0 0 10px #24607f;
	-moz-box-shadow: 0 0 10px #24607f;
	-o-box-shadow: 0 0 10px #24607f;
	box-shadow: 0 0 10px #24607f;
}

.boton{
	background: #ff8a00;
	border: 0;
	color: #fff;
	margin-left: 125px;
	padding: 10px;
	width: 150px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.boton:hover{
	background-color: #ff5105;
	font-weight: bold;


	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;

	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#footer{
	color: black;
	font-size: 12px;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#loginError{
	background-color: red;
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	padding: 10px 1px 10px 1px;
	display:none;
}

#cargando{
    position:absolute;
	display:none;
	width:100px;
	height:100px;
	left: 43%;
	padding: 25px 0px 0px 70px;
}

#content{
	min-height:300px;
}

.logoVacio {
	margin-left: 40%;
	margin-top: 15%;
}

.logoVacio ../img {

	opacity:0.8;
	padding: 70px 0px 0px 340px;
}

#menu{
	z-index:1;	/*ver porque pisa el contenedor*/
}

.titulo, h3{
	color: blue;
	font-size: 25px;
	margin-top: 5em;
}

.btn {
	margin-left: 25em;
	margin-top: 25px;

	-moz-box-shadow:inset 0px 1px 0px 0px #706f94;
	-webkit-box-shadow:inset 0px 1px 0px 0px #706f94;
	box-shadow:inset 0px 1px 0px 0px #706f94;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a191fa), color-stop(1, #203575) );
	background:-moz-linear-gradient( center top, #a191fa 5%, #203575 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a191fa', endColorstr='#203575');
	background-color:#a191fa;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #6c66bd;
	display:inline-block;
	color:#040e1a;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #203575), color-stop(1, #a191fa) );
	background:-moz-linear-gradient( center top, #203575 5%, #a191fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#203575', endColorstr='#a191fa');
	background-color:#203575;
}
.btn:active {
	position:relative;
	top:1px;
}

h3{
	margin-bottom: 1em;
}

label {
	font-size: 15px;
	font-weight: bold;
	color: blue;
}

div{
	background-color: aliceblue;

	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:16px;
	-moz-border-radius-bottomright:16px;
	border-bottom-right-radius:16px;
	-webkit-border-bottom-left-radius:16px;
	-moz-border-radius-bottomleft:16px;
	border-bottom-left-radius:16px;
}

.divInfo{
	width: 100%;
	text-align: left;
}

