#menu{
	background-color: #fff;
	text-align: right;
	position: fixed;	
	top: -15px;
	width: 850px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 5px  rgba(0,0,0,0.5);
	-o-box-shadow: 0 2px 5px  rgba(0,0,0,0.5);
	box-shadow: 0 2px 5px  rgba(0,0,0,0.5);
}



#menu ul{
	margin: 0px;
	padding: 0px;
}

#menu ul:nth-child(1){
	margin-left: 150px;
}

#menu ul li{

	display: inline-block;
	padding-top: 10px; 
	padding: 10px 0px 0px 0px;
	margin: 0px;
}

.menu  br { 
	display:none; 
}

.menu  li {
	margin-left: 3em;
	text-align: center;
	/*display: inline-block;*/
	float: left; /* la lista se ve vertical */
	list-style: none;
	position: relative;
}

.menu li:hover{
	background-color: navy;
}

/* son visibes al poner el cursor encima */
.menu li:hover > ul { 
	opacity: 1; 
	display: block;
	background-color: #fff;
}

.menu li:hover > ul li {

	overflow: visible;
	padding: 0px;
}

.menu li:hover > a { 
	color: #fff;
}

.menu li a {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding: 40px 10px;
	float: left; /* la lista se ve horizontal */
	list-style: none;
	position: relative;
	text-align:center;
}

/* los submenús */
.menu li ul {
	opacity: 0; 
	display: none;
	position: absolute;
	top: 107px; 
	-moz-transition: opacity .25s ease .1s;
	-webkit-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
	padding: 0px;
}

.menu ul li a {
	border: none;
	margin: 0px;
	padding: 0.6em;
	color:black  ;
	width:150px;
}

.menu li ul:hover > li ul li ul{
	opacity:1;
}

.menu li ul li ul {
	top: 0px; 
	left:160px;
}

.logout:hover{
	background-color: orange;
}






