{% block content %}
<!--CONTENT-->
<div align="center" width="100%">
<h3>{{action|upper}}</h3>

<form name="am_analito" id="am_analito" method="POST">
	<label> Descripcion:</label>
	<input type="text" value="{{analito['descripcion']}}" size="50" id="descripcion" name="descripcion" required/>
	<input type="hidden" value="{{analito['id_analito']}}" id="id_analito" name="id_analito"/>
	<br>
	<input class="btn" type="button" onclick="submitearAnalito('{{action}}')" value={{action}} />
</form>
</div>
<!--FIN CONTENT-->
{% endblock content %}