{% block content %}
<!--CONTENT-->

<div align="center" width="100%">
<h3>{{action|upper}}</h3>

<form name="am_resultado" id="am_resultado" method="POST">
	<label> Descripción:</label>
	<input type="text" value="{{resultado['descripcion']}}" size="50" id="descripcion" name="descripcion" required pattern="^[a-zA-Z0-9][a-zA-Z0-9-_\. /!$#@%*()}{';:,<>?=+]+$"/>

		<select name="laboratorio" id="laboratorio" size="7" multiple required>
			{% for data in laboratorio %}	
				<option value="{{data['id_lab']}}" {{data['activo']}}> {{data['cod_lab']}} </option>
			{% endfor %}
		</select>
		<select name="metodo" id="metodo" size="7" multiple required>
			{% for data in metodo %}	
				<option value="{{data['id_metodo']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>
		<select name="reactivo" id="reactivo" size="7" multiple required>
			{% for data in reactivo %}	
				<option value="{{data['id_reactivo']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>
		<select name="calibrador" id="calibrador" size="7" multiple required>
			{% for data in calibrador%}	
				<option value="{{data['id_calibrador']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>
		<select name="analito" id="analito" size="7" multiple required>
			{% for data in analito %}	
				<option value="{{data['id_analito']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>
		<select name="papel_filtro" id="papel_filtro" size="7" multiple required>
			{% for data in papel_filtro %}	
				<option value="{{data['id_papel_filtro']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>
		<select name="valor_corte" id="valor_corte" size="7" multiple required>
			{% for data in valor_corte %}	
				<option value="{{data['id_valor_corte']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>

	<input type="hidden" value="{{resultado['id_resultado']}}" id="id_resultado" name="id_resultado"/>
	<br>
	<input class="btn" type="button" onclick="submitearForm('{{action}}','resultado')" value={{action}} />
	<div id="loginError" style="display: none; background-color: red"></div>
</form>
</div>
<!--FIN CONTENT-->
{% endblock content %}