{% block content %}
<!--CONTENT-->

<div class="divInfo">
<h3>{{action|upper}}</h3>

<form name="am_reactivo" id="am_reactivo" method="POST">
	<label> Descripción:</label>
	<input type="text" value="{{reactivo['descripcion']}}" size="50" id="descripcion" name="descripcion" required pattern="^[a-zA-Z0-9][a-zA-Z0-9-_\. /!$#@%*()}{';:,<>?=+]+$"/>

		<select name="analito" id="analito" size="7" multiple required>
			{% for data in datos_extra %}	
				<option value="{{data['id_analito']}}" {{data['activo']}}> {{data['descripcion']}} </option>
			{% endfor %}
		</select>

	<input type="hidden" value="{{reactivo['id_reactivo']}}" id="id_reactivo" name="id_reactivo"/>
	<br>
	<input class="btn" type="button" onclick="submitearReactivo('{{action}}','reactivo')" value={{action}} />
	<div id="loginError" style="display: none; background-color: red"></div>
</form>
</div>
<!--FIN CONTENT-->
{% endblock content %}