{% block content %}
<!--CONTENT-->

<div align="center" width="100%">
<h3>{{action|upper}}</h3>

<form name="am_usuario" id="am_usuario" action="../controller/usuario.{{action}}.php" method="POST">
	<label> Username:</label>
	<input type="text" value="{{usuario['username']}}" size="50" id="username" name="username" required/>
	<br>
	<label> Password:</label>
	<input type="password" value="{{usuario['password']}}" size="50" id="password" name="descripcion" required/>
	<br>
	<label> Email:</label>
	<input type="text" value="{{usuario['email']}}" size="50" id="email" name="descripcion" required/>
	<br>
	<label> Rol:</label>
	<select id="rol" name="rol">
		<option value="rol1" id="rol1" name="rol1">Admin</option>
		<option value="rol2" id="rol2" name="rol2">FBA</option>
		<option value="rol3" id="rol3" name="rol3">Laboratorio</option>
	</select>
	<label> Activo:</label>
	<input type="checkbox" value="{{usuario['activo']}}" size="50" id="activo" name="descripcion" required/>
	<br>
	<br>
	<input class="btn" type="submit" value={{action}} />
</form>
</div>
<!--FIN CONTENT-->
{% endblock content %}