{% block content %}
<!--CONTENT-->

<div align="center" width="100%">
<h3>{{action|upper}}</h3>

<form name="am_usuario" id="am_usuario" method="POST">

	<label> Username:</label>
	<input type="text" value="{{usuario['username']}}" size="40" id="username" name="username" required/>
	<br>
	<label> Password:</label>
	<input type="password" value="{{usuario['password']}}" size="20" id="password" name="password" required {% if rol == 1 %} disabled readonly="true" {% endif %}/>
	<br>
	<label> Email:</label>
	<input type="text" value="{{usuario['email']}}" size="40" id="email" name="email" required/>
	<br>
	<label> Rol:</label>
	<select name="rol" id="rol" size="1" required>
			{% for data in datos_extra %}	
				<option value="{{data['id_rol']}}" {% if data['activo'] %} selected="{{data['activo']}}"{% endif %} > {{data['descripcion']}} </option>
			{% endfor %}
	</select>
	<label> Activo:</label>
	<input type="checkbox" {% if usuario['activo'] == 1 %} checked{% endif %} id="activo" name="activo" required/>
	<br>
	<input type="hidden" value="{{usuario['id_usuario']}}" id="id_usuario" name="id_usuario"/>
	<input class="btn" type="button" onclick="submitearFormUsuario('{{action}}','usuario')" value={{action}} />
	<div id="loginError" style="display: none; background-color: red"></div>
</form>
</div>
<!--FIN CONTENT-->
{% endblock content %}