{% block content %}
<!--CONTENT-->
<h3 class="titulo"> ANALITO </h3>

<div align="left" class="btn" id="alta" onclick="clonarDiv('content');cargarpagina('am_analito.php?action=alta','','content','')"">
	<p class="titulofrm">añadir</p>
</div>
<div align="center" class="btn" id="editar" onclick="clonarDiv('content');cargarpagina('am_analito.php?action=editar','','content','')">
	<p class="titulofrm">editar</p>
</div>
<div align="right" class="btn" id="baja" onclick="#">
	<p class="titulofrm">borrar</p>
</div>

	{% include 'templateTabla.html' %} 
<!--FIN CONTENT-->
{% endblock content %}