{% block content %}
<!--CONTENT-->
<h3 class="titulo"> calibrador </h3>

<div align="center" class="btn" id="alta" name="alta" onclick="clonarDiv('content');cargarpagina('abm/am_calibrador.php?action=alta','','content','')">
	<p class="titulofrm">añadir</p>
</div>


<!--TABLA-->
<div id="divContenedor">
	<div id="divTabla">
		<label for="txtBuscar">Buscar: </label>
		<input type="search" id="txtBuscar" autofocus
		placeholder="Digite el texto que desea buscar" onkeyup="Buscar($(this).val(),'tblDatos')">

		
		<div id="paginador"></div>
		
		<table id="tblDatos" class="" align="center">
			<thead>
				<tr>
					{% for field, value in cabecera %}
						<th>{{value}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for doc in filas %}	
					<tr id={{doc['id_calibrador']}} onclick="editarCalibrador(this.getAttribute('id'))">
						{% for field, value in doc %}	
							<td id={{field~value}} name={{value}} >{{value}}</td>		
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>
</div>
<!--FIN CONTENT-->
{% endblock content %}