{% block content %}
<!--CONTENT-->
<h3 class="titulo"> COMPARACIONES ENCUESTA </h3>

<!--TABLA-->
<div id="divContenedor">
	<div id="divTabla">
		<label for="txtBuscar">Buscar: </label>
		<input type="search" id="txtBuscar" autofocus
		placeholder="Digite el texto que desea buscar" onkeyup="Buscar($(this).val(),'tblDatos')">

		
		<div id="paginador"></div>
		
		<table id="tblDatos" class="" align="center">
			<thead>
				<tr>
					{% for field, value in cabecera %}
						<th>{{value}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for doc in filas %}	
					<tr id={{doc['id_encuesta']}} name={{doc['id_lab']}} onclick="mostrar_comparaciones(this.getAttribute('id'), this.getAttribute('name'))">
						{% for field, value in doc %}	
							<td id={{field~value}} name={{value}}> {{value}}</td>		
						{% endfor %}

					</tr>
				{% endfor %}
			</tbody>
		</table>	
	</div>
	<h4> NOTA: Se registran en 0 las entregas fuera de termino ya que el sistema no lo permite </h4>
</div>
<!--FIN CONTENT-->
{% endblock content %}